@page
@model WebApp.Pages.Beers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Beer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beer.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beer.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beer.RelaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beer.RelaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beer.Volume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beer.Volume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beer.Voltage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beer.Voltage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beer.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beer.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Beer?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
