@page
@model WebApp.Pages.Beers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-page="Create">Create New</a>
    <button style="margin-left: 95px;" >Add Random from Api</button>
</p>

<form method="get">
<div>
    <label for="searchInput">Filter by Title:</label>
    <input type="text" id="searchInput" name="searchString" value="@Model.SearchString" />
    <button type="submit">Search</button>
</div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="title_desc">Title</a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="releaseDate">Release Data</a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="volume">Volume</a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="voltage">Voltage</a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="price">Price</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Beer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RelaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voltage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
